body{
  /*background-color: #53A9C5;*/
}

header, ul, section{
  display: flex;
  text-align: center;
}

header{
  flex-direction: column;
  justify-content: center;
}

nav{
  padding-left: 20%;
  padding-right: 20%;

}

ul{
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  margin-right: 5%;
}

#projects{
  justify-content: space-around;
  margin: 10%;
}

#projects img{
  width: 45%;
}

#projects
