.wrapper{
  position: relative;
  padding-bottom: 5%;
}
header, section, article, ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header, ul{
  margin-top: 5%;
}

article, img{
  max-width: 80%;
  margin: auto;
}
ul{
  margin: 5%;
  flex-direction: row;
}

li{
  padding: 3% 5%;
}


@media only screen and (min-width: 700px),
      (orientation: landscape) {

  header{
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
  }

  section{
    margin: 5% 12%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  article{
    max-width: 33%;
  }
  a{
    padding: 0%;
  }
  img{
    max-width: 100%;
  }
  ul{
    flex-basis: 35%;
    justify-content: flex-end;
    padding: 3% 5%;
  }
  li{
    margin: 0% 25%;
  }
  .icon{
    margin: 0%
  }
}
